.wrap{display:flex;justify-content:center}
.tabs{display:flex;position:relative;background:#fff;box-shadow:0 0 1px 0 rgba(24,94,224,.15),0 6px 12px 0 rgba(24,94,224,.15);padding:.75rem;border-radius:99px}
.tabs *{z-index:2}
.radio{display:none}
.tab{display:flex;align-items:center;justify-content:center;height:30px;min-width:80px;padding:0 .75rem;font-size:.8rem;color:#000;font-weight:600;border-radius:99px;cursor:pointer;transition:color .15s ease-in;position:relative;border:1px solid transparent}
.tab a{color:inherit;text-decoration:none}
.notification{display:flex;align-items:center;justify-content:center;width:.9rem;height:.9rem;position:absolute;top:6px;left:60%;font-size:10px;border-radius:50%;background:#e6eef9;transition:.15s ease-in}
.radio:checked+label{color:#185ee0;border-color:#185ee0;box-shadow:0 0 0 2px rgba(24,94,224,.15) inset}
.radio:checked+label .notification{background:#185ee0;color:#fff}
.glider{position:absolute;display:flex;height:30px;background:#e6eef9;z-index:1;border-radius:99px;transition:left .25s ease-out,width .25s ease-out}
@media (max-width:700px){.tabs{transform:scale(.9)}}

